* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blueviolet;
  display: flex;
  flex-flow: column wrap;
  font-family: 'Poppins', sans-serif;
}
button {
  background-color: rgb(2, 194, 194);
  font-family: 'Poppins', sans-serif;
  border: none;
}
button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
header {
  height: 8vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 2%;
}
.title {
  border: 1px solid white;
  font-weight: 200;
  border-radius: 10px;
  padding: 0 40px;
  background-color: white;
  color: rgb(0, 0, 0);
}
.container {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.form {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
  font-weight: 300;
}
.form:first-child {
  color: white;
}
.form input {
  width: 200px;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
  padding: 2px;
  font-family: 'Poppins', sans-serif;
}
.form button {
  padding: 1px;
  font-size: 1.1rem;
  border-radius: 3px;
  width: 100px;
  font-weight: 300;
  transition: transform 0.1s ease-in;
}
.form button:hover {
  transform: scale(1.1);
}

.item-section {
  display: flex;
  /* height: 80vh; */
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.item-list-div {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.item-div {
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin: 2px;
  border-radius: 3px;
  min-width: 200px;
  max-width: 30vw;
  transition: transform 0.1s ease-in-out;
}
.item-div:hover {
  transform: scale(1.2);
}
.item-text-div {
  display: flex;
  flex-direction: row;
  /* height: auto; */
  overflow: auto;
  margin: 0 2px;
  padding: 0 4px;
}
.item-text-div p {
  word-break: break-all;
}
.item-btn-div {
  display: flex;
  align-items: stretch;
}
.item-btn-div button {
  padding: 0 2px;
}
.item-btn-div button:nth-child(2) {
  border-radius: 0 3px 3px 0;
}
.task-completed {
  opacity: 0.5;
}
.task-completed:hover {
  transform: none;
}
